.wrapper {
	height: 100%;
	overflow: hidden;
	min-height: 100%;
	padding: 50px;
}

.body {
	font-family: Arial;
}

.block {
	
}

.block__row {
	display: flex;
	border: 20px solid yellow;
	margin: 0px 0px 20px 0px;
	
	
}

.block__column {
	border: 20px solid violet;
	flex-basis: 300px;
	flex-grow: 1;
	
	/*width: 500px;*/
}

.block__column_1 {
	
}

.block__item {
	background-color: teal;
	padding: 50px;
	font-size: 50px;
	color: #fff;
	font-weight: 700;
}






