/*Обнуление*/
*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}
/*--------------------*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

a {
	color:black;
}


._ibg {
	position: relative;
}

._ibg img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}

body {
 font-family: Roboto;
 color:  #000000;
 
}

.wrapper {
	min-height: 100%;
	/*overflow: hidden;*/
	display: flex;
	flex-direction: column;
}

._container {
		
	margin: 0 auto;
}

/*-----Шапка-------------------*/

header {
	/*position: absolute;*/
	width: 100%;
	
	left: 0;
	top: 0;
	
	
}

.header__column {
	display: flex;
	flex-direction: column;
	
	
}

.row_1-text {
	min-height: 29px;
	padding: 7px 0;
	background-color: #000000;
	color: #FBFBFB;
	font-size: 12px;
	line-height: 1.25;
	text-align: center;
	letter-spacing: 2px;
}

.header__column_2 {
	min-height: 66px;
	display: flex;
	align-items: center;
	
	

}

.menu {
	padding: 5px 0;
}

.header__menu {
	margin: 0px 0px 0px 125px;
}

@media (max-width:992px) {
	.header__menu {
		margin: 0px 0px 0px 35px;
		
	}
}

@media (max-width:767px) {
	.header__menu {
		margin: 0px 0px 0px 5px;
	}
}


@media (max-width:479px) {
	.header__menu {
		margin: 0px 0px 0px 20px;
	}
}


.menu__list {
	display: flex;
	flex-wrap: wrap;
}

.menu__item:not(:last-child) {
	margin: 0 22px 0 0;
} 

.menu__link {
	font-size: 14px;
	line-height: 1.5;
	letter-spacing: 1px;
	

}


@media (max-width:479px) {
	.menu_link {
		font-size: 18px;
	}
}

.page {
	flex: 1 1 auto;
}

.page__welcome {
	position: relative;
}


.welcome__body__image {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.welcome__body {
	padding: 53px 0px 618px 0px;
	position: relative;
	z-index: 2;
	/*max-width: 540px;*/
	
}

@media (max-width:992px) {
	.welcome__body {
		padding: 40px 0px 618px 0px;
		
		
	}
}

.welcome__body__title {
	font-size: 44px;
	line-height: 1.15;
	text-align: center;
}

@media (max-width:767px) {	
	.welcome__body__title {
		font-size: 32px;
		
	}
}

@media (max-width:389px) {	
	.welcome__body__title {
		font-size: 28px;
		
	}
}

.welcome__body__subtitle {
	padding: 14px 0 22px 0;
	text-align: center;
	font-size: 15px;
	line-height: 1.25;
	letter-spacing: 1px;
}

.welcome__body__buttons {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}



.welcome__body__button {
	border-radius: 35px;
	display: flex;
	min-height: 33px;
	justify-content: center;
	align-items: center;
	font-size: 15px;	
	line-height: 1.46;	
	padding: 5px 47px;
	background: #FF4A32;
	color: #FFFFFF;
}

.welcome__body__button {
	margin: 0px 12px 0px 0px;
}



@media (max-width:479px) {
	.welcome__body__button {
		flex: 1 1 auto;
		margin: 5px;
	}
}

.partner {
	background-color: #000000;
	width: 100%;
}

.partner__container {
	max-width: 1054px;
	margin: 0 auto;
	
}

.partner__row {
	padding: 18px 0;
	display: flex;
	justify-content: space-between;
		
	
}



@media (max-width: 767px) {
	
	.partner__row {	
		flex-wrap: wrap;		
		
	}

	.partner__item {
		flex: 0 1 50%;
		display: flex;
		justify-content: center;				
	}

}


@media (max-width: 479px) {	
	.partner__row {	
		flex-direction: column;
		flex-wrap: wrap;		
		
	}

	.partner__item {		
		display: flex;
		justify-content: center;
						
	}

	.partner__item:not(:last-child) {		
		display: flex;
		justify-content: center;
		margin: 0 0 7px 0;
						
	}

}

.boards__or__rev {

}

.boards__or__revs__container {
	max-width: 1180px;
}

.boards__or__revs__column {
	display: flex;
	flex-direction: column;
	
	align-items: center;
}

.boards__or__revs__title {
	margin: 50px 0 8.5px 0;
	font-size: 32px;
	text-align: center;
	line-height: 1.13;
}

.boards__or__revs__subtitle {
	margin: 8.5px 0 25px 0;
	max-width: 685px;	
	font-size: 15px;
	text-align: center;
	line-height: 1.27;
}

.boards__or__revs__pictures {
	margin: 45px 20px 0 20px;
	max-width: 1180px;
}



.boards__or__revs__row {
	display: flex;
	flex-direction: row;
	justify-content: center;
	
}

.board {
	margin: 0 10px 0 0;
	

}

.rev {
	margin: 0  0 0 10px;
}




@media (max-width:1170px) {
	.board img {
		width: 570px;
	}

	.rev img {
		width: 570px;
	}


}

@media (max-width:1140px) {
	.board img {
		width: 560px;
	}

	.rev img {
		width: 560px;
	}
}

@media (max-width:1120px) {
	.board img {
		width: 550px;
	}

	.rev img {
		width: 550px;
	}
}

@media (max-width:1100px) {
	.board img {
		width: 540px;
	}

	.rev img {
		width: 540px;
	}
}

@media (max-width:1080px) {
	.board img {
		width: 530px;
	}

	.rev img {
		width: 530px;
	}
}

@media (max-width:1060px) {
	.board img {
		width: 520px;
	}

	.rev img {
		width: 520px;
	}
}

@media (max-width:1040px) {
	.board img {
		width: 510px;
	}

	.rev img {
		width: 510px;
	}
}

@media (max-width:1020px) {
	.board img {
		width: 500px;
	}

	.rev img {
		width: 500px;
	}
}

@media (max-width:1000px) {
	.board img {
		width: 490px;
	}

	.rev img {
		width: 490px;
	}
}


@media (max-width:992px) {
	.boards__or__revs__row {
		flex-wrap: wrap;
		flex: 1 1 100%;				
	}	

	.boards__revs__image img {
		width: 932px;
	}

	

	.board  {
		margin: 0;
	}

	.rev  {
		margin: 0;
	}

		
	.boards__or__revs__pictures {
		margin: 20px;
	}

}
/*--------------------------------------*/
@media (max-width:992px) {
	.boards__revs__image img {
		max-width: 100%;
	}
}



.page__skateboards {
	position: relative;
	

}

.skateboards__container {
	
}

.skateboards__body {
		/*background: url(../img/skateboards.png) 50%/cover no-repeat;*/ 
		padding: 44px 0px 505px 0px;
		position: relative;
		z-index: 2;
		/*max-width: 540px;*/
		position: relative;		
	
}

@media (max-width:992px) {
	.skateboards__body {
		padding: 36px 0px 618px 0px;
		
		
	}
}

.skateboards__image {
	position: absolute;
	width: 100%;
	height: 100%;

	top: 0;
	left: 0;
	
}

.skateboards__image img {
	object-fit: none;

}


.skateboards__uppertitle {
	margin: 0 0 5.5px 0;
	font-size: 15px;
	letter-spacing: 1px;
	line-height: 1.25;
	text-align: center;
}


.skateboards__title {
	margin: 5.5px auto 7.5px auto;
	font-size: 45px;
	line-height: 1.13;	
	font-weight: 700;
	text-align: center;
	max-width: 420px;
}

@media (max-width:767px) {	
	.skateboards__title {
		font-size: 32px;
		
	}
}

@media (max-width:389px) {	
	.skateboards__title {
		font-size: 28px;
		
	}
}

.skateboards__subtitle {
	margin: 7.5px auto 10px auto;	
	font-size: 15px;
	letter-spacing: 1px;
	line-height: 1.25;
	text-align: center;
	max-width: 488px;
	
}



.skateboards__button {
	margin: 10px 0 0 0;
	display: flex;
	justify-content: center;
	
}

.skateboards__button__content {
	
	padding: 5px 66px;
	color: #FFFFFF;
	background-color: #FF4A32;
	text-align: center;
	font-size: 15px;
	border-radius: 35px;
	
}





@media (max-width:992px) {
	.skateboards__image img {
		
	}
}





