/*Обнуление*/
*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}
/*--------------------*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

._ibg {
	position: relative;
}

._ibg img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}

body {
 font-family: Roboto;
 color:  #000000;
 
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

._container {
		
	margin: 0 auto;
}

/*-----Шапка-------------------*/

header {
	/*position: absolute;*/
	width: 100%;
	left: 0;
	top: 0;
	z-index: 50;
}

.header__column {
	display: flex;
	flex-direction: column;
}

.row_1-text {
	min-height: 29px;
	padding: 7px 0;
	background-color: #000000;
	color: #FBFBFB;
	font-size: 12px;
	line-height: 1.25;
	text-align: center;
	letter-spacing: 2px;
}

.header__column_2 {
	min-height: 66px;
	display: flex;
	align-items: center;
	

}

.menu {
	padding: 5px 0;
}

.header_menu {
	margin: 0px 0px 0px 125px;
}

.menu__list {
	display: flex;
	flex-wrap: wrap;
}

.menu__item:not(:last-child) {
	margin: 0 22px 0 0;
} 

.menu__link {
	font-size: 14px;
	line-height: 1.5;
	letter-spacing: 1px;
	
}

.page {
	flex: 1 1 auto;
}

.page__welcome {
	position: relative;
}


.welcome__body__image {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.welcome__body {
	padding: 53px 0px 618px 0px;
	position: relative;
	z-index: 2;
	/*max-width: 540px;*/
	
}

.welcome__body__title {
	font-size: 44px;
	line-height: 1.15;
	text-align: center;
}

.welcome__body__subtitle {
	padding: 14px 0 22px 0;
	text-align: center;
	font-size: 15px;
	line-height: 1.25;
	letter-spacing: 1px;
}

.welcome__body__buttons {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.welcome__body__button:not(:last-child) {
	margin: 0px 12px 0px 0px;
}

.welcome__body__button {
	border-radius: 35px;
	display: flex;
	min-height: 33px;
	justify-content: center;
	align-items: center;
	font-size: 15px;	
	line-height: 1.46;	
	padding: 5px 47px;
	background: #FF4A32;
	color: #FFFFFF;
}

