/*Обнуление*/
*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}
/*--------------------*/


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');





._ibg {
	position: relative;
}

._ibg img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}


body {
	font-family: Roboto;
	color:  #000000;
	
}

.wrapper {
	min-height: 100%;
	/*overflow: hidden;*/
	display: flex;
	flex-direction: column;
}

._container {		
	max-width: 1140px;
	/*padding: 0px 15px;*/
	margin: 0px auto;
	box-sizing: content-box;
}

/*-----Шапка-------------------*/



header {
	position: absolute;
	width: 100%;
	z-index: 50;
	left: 0;
	top: 0;
	height: 80px;
	background: #f8f5f5;	
	
}



button {
	background: #f8f5f5;
}

button:hover {
	background: #E5E5E5;
}

.header__container {
	display: flex;
	justify-content: space-around;
}

.header__logo .l {
	margin: 21.58px -2px 33.69px 0px;
}

.header__logo .a {
	margin: 32.55px -2px 31.36px -2px;
}

.header__logo .n {
	margin: 34.13px -2px 30.33px -2px;
}

.header__logo .d {
	margin: 26.31px -2px 29.58px -2px;
}

.header__logo .i {
	margin: 26.31px -2px 30.43px -2px;
}

.header__logo .n2 {
	margin: 32.17px -2px 31.27px -2px;
}

.header__logo .g {
	margin: 28.39px 0px 30.87px -2px;
}

.menu__list {
	display: flex;
	justify-content: space-between;
}

.header__menu {
	padding: 30px 0 30px 0;
}




/* .spoiler {	
	position: relative;  
	padding: 0 0 0 30px; 
	cursor: pointer;     
}

	
.spoiler::before,
.spoiler:after {
	content: '';
	width: 10px;
	height: 1px;
	background-color: black;
	position: absolute;
	top: 8px;
	transition: all 0.3s ease 0s;

}

.spoiler::before {
transform: rotate(40deg);
left: 0;

}

.spoiler::after {
	transform: rotate(-40deg);
	left: 8px;   
}

.spoiler__menu {
	display: none;
}

.spoiler.active::before,
.spoiler.active:after {
	background-color: #E88952;

}

.spoiler.active::before {
	transform: rotate(-40deg);
}

.spoiler.active:after {
	transform: rotate(40deg);
}


 */


.menu__item__title {
	display: flex;
	align-items: center;	
	font-weight: bold;
	font-size: 16px;
	line-height: 1.19px;
	border-radius: 8px;
}

 .menu__item.menu__item__title {
	cursor: pointer;
}
.menu__item__title {
	padding: 10px 10px 10px 10px;
}


.menu__item__title._active {
	background-color:#E5E5E5;;
}


.menu__item__list{
	padding: 0 10px 10px;
	line-height: 130%;
}
.block_1 .block__item {
	background-color: #77608d;
}



.header__menu__image {
	display: flex;
	margin-left: 17px;
	
	
}

.menu__item__list {
	font-size: 14px;
	font-weight: 600;
	line-height: 1.2;
	background-color: #ffffff;
	border-radius: 8px;
	padding: 10px;
	margin: 15px 0 0 0;

	
}

.resources__item:not(:first-child) {
	margin: 10px 0 10px 10px;
}

.resources__item:first-child {
	margin: 0px 0 10px 10px;
}




